@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,300;1,400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .navlink.active {
    @apply bg-slate-100 dark:bg-color-grey-50;
  }
  .navlink.active .icon {
    @apply text-violet-600 dark:bg-color-grey-50;
  }
  .navlink:hover .icon {
    @apply text-violet-600;
  }
}

html {
  font-family: "Roboto Mono", monospace;
}

@layer components {
  .btn {
    @apply px-4 py-2  text-xs  bg-violet-600 text-white hover:opacity-80 md:text-sm;
  }
  .input {
    @apply shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg  focus:border-violet-600 block w-full py-1.5 px-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white  outline-none;
  }
  .textarea {
    @apply block py-1.5 px-2 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300  focus:border-violet-600 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white outline-none;
  }
  .action-btn {
    @apply flex  gap-2 items-center px-2 py-1 hover:bg-white dark:hover:bg-color-grey-50;
  }
  .pagi-btn {
    @apply border border-violet-600 px-4 pb-0.5 rounded-md hover:opacity-50;
  }
  .stat-width {
    @apply w-[calc((100%-40px)/3)];
  }
}
